* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
#header {
  width: 800px;
  height: 95px;
  background-color: #2d3a4b;
}
#logo {
  position: relative;
  left: 15px;
  top: 25px;
}
#top_menu {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.788);
  position: absolute;
  left: 640px;
  top: 15px;
}
#main_menu {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.788);
}
#main_menu li {
  display: inline;
  position: relative;
  left: 260px;
  top: 10px;
  padding: 0 10px 0 10px;
}
#content ul > li {
  display: inline;
}
#content ul img {
  padding: 30px 20px;
}
#footer {
  width: 800px;
  height: 120px;
  margin-top: 20px;
  background-color: #f1f1f1;
}
  position: relative;
  top: 1px;
  left: 600px;
}
